html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.project-item {
    margin: 2px;
    padding: 2px;
}

.project-item.selected {
    background-color: lightblue;
}
